<div class="home-container">
  <header class="hero-section">
    <h1 class="hero-title">{{ title }}</h1>
    <p class="hero-subtitle">{{ subtitle }}</p>
    <!-- <a routerLink="/posts" class="cta-button">Explore Recipes</a> -->
  </header>

  <section class="features-section">
    <div class="feature-card">
      <h2>Share Recipes</h2>
      <p>
        Share your favorite recipes with the world. Let others enjoy your
        creations!
      </p>
    </div>
    <div class="feature-card">
      <h2>Explore New Dishes</h2>
      <p>Discover amazing dishes from different cuisines and cultures.</p>
    </div>
    <div class="feature-card">
      <h2>Easy to Use</h2>
      <p>Simple and intuitive interface for managing recipes and posts.</p>
    </div>
  </section>

  <app-post-list></app-post-list>
</div>
